In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations
from itertools import chain

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
609,tt0859163,145000000,401128639,The Mummy: Tomb of the Dragon Emperor,Brendan Fraser|Jet Li|John Hannah|Maria Bello|...,Rob Cohen,A New Evil Awakens.,The third installment in the Mummy franchise t...,112,Adventure|Fantasy|Action|Thriller,Universal Pictures|China Film Co-Production Co...,7/1/2008,5.1,2008
212,tt1418377,65000000,71154592,"I, Frankenstein",Aaron Eckhart|Yvonne Strahovski|Bill Nighy|Jai...,Stuart Beattie,"In the battle between good and evil, an immort...","200 years after his shocking creation, Dr. Fra...",92,Horror|Thriller,Lakeshore Entertainment|Sidney Kimmel Entertai...,1/22/2014,5.1,2014
1156,tt0299930,54000000,7266209,Gigli,Ben Affleck|Jennifer Lopez|Justin Bartha|Laini...,Martin Brest,Life doesn't play by the rules.,Gigli is ordered to kidnap the psychologically...,121,Drama,City Light Films|Revolution Studios|Casey Silv...,8/1/2003,3.8,2003
1238,tt1245492,32000000,126041322,This Is the End,James Franco|Jonah Hill|Seth Rogen|Jay Baruche...,Seth Rogen|Evan Goldberg,Nothing ruins a party like the end of the world.,While attending a party at James Franco's hous...,107,Action|Comedy,Columbia Pictures|Mandate Pictures|Sony Pictur...,6/12/2013,6.2,2013
1352,tt0418763,72000000,96889998,Jarhead,Jamie Foxx|Jake Gyllenhaal|Scott MacDonald|Luc...,Sam Mendes,Welcome to the suck.,Jarhead is a film about a US Marine Anthony Sw...,125,Drama|War,Universal Pictures|Neal Street Productions|Red...,11/4/2005,6.4,2005

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# added a profit column from the movie: profit = revenie - budget
data['profit'] = data.apply(lambda row:
                            row.revenue - row.budget, axis=1)

#the time given in the dataset is in string format.
#So we need to change this in datetime format.

#We are trying options for working with the date via
#          datetime and isin, as well as without them.

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' 
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
data[data['budget'] == data['budget'].max()]['original_title'].values[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [7]:
data.original_title[data.budget == data.budget.max()].values[0]

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# +
answers['2'] = '2. Gods and Generals (tt0279111)'

In [9]:
data[data.runtime == data.runtime.max()][['original_title','imdb_id']]

         original_title    imdb_id
1157  Gods and Generals  tt0279111

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
# +
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [11]:
data[data.runtime == data.runtime.min()][['original_title','imdb_id']]

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

# 4. Какова средняя длительность фильмов?

In [12]:
# +
answers['4'] = '2. 110'

In [13]:
np.around(data.runtime.mean(), decimals=0)

110.0

# 5. Каково медианное значение длительности фильмов?

In [14]:
# +
answers['5'] = '1. 107'

In [15]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
# +
answers['6'] = '5. Avatar (tt0499549)'

In [17]:
data[data.profit == data.profit.max()][['original_title','imdb_id']]

    original_title    imdb_id
239         Avatar  tt0499549

# 7. Какой фильм самый убыточный?

In [18]:
# +
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [19]:
data[data.profit == data.profit.min()][['original_title','imdb_id']]

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
# +
answers['8'] = '1. 1478'

In [21]:
data.profit[data.profit > 0].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
# +
answers['9'] = '4. The Dark Knight (tt0468569)'

In [23]:
data[(data.revenue.max()) & (data['release_year'] == 2008)]\
    [['original_title','imdb_id']].head(1)

      original_title    imdb_id
599  The Dark Knight  tt0468569

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
# +
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [25]:
df = data[(data['release_year'] > 2012)
         & (data['release_year'] <= 2014)]
df[df.profit == df.profit.min()][['original_title','imdb_id']]

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 11. Какого жанра фильмов больше всего?

In [26]:
# +
answers['11'] = '3. Drama'

In [27]:
Counter(data.genres.str.split('|').sum()).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [28]:
# +
answers['12'] = '1. Drama'

In [29]:
df = data[(data.profit > 0)]
Counter(df.genres.str.split('|').sum()).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [30]:
# +
answers['13'] = '5. Peter Jackson'

In [31]:
# Creating a table with only directors and box office receipts
df_sum = data.groupby('director')\
                     ['revenue'].agg(['sum'])\
                                .sort_values('sum', ascending=False)
df_sum[df_sum['sum'] == df_sum['sum'].max()]

                      sum
director
Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [32]:
# +
answers['14'] = '3. Robert Rodriguez'

In [33]:
data[data.genres.str.contains('Action')].director.str.split('|')\
                                        .explode('director')\
                                        .mode()[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [34]:
# +
answers['15'] = '3. Chris Hemsworth'

In [35]:
df = data[data.release_year == 2012].copy()
df.cast = df.cast.str.split('|')
df = df.explode('cast')
display(df.groupby('cast')['revenue'].sum()\
                                     .sort_values(ascending=False)\
                                     .head(1))

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [36]:
# +
answers['16'] = '3. Matt Damon'

In [37]:
data[data.budget > data.budget.mean()].cast.str.split('|')\
                                      .explode('cast')\
                                      .mode()[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [38]:
# +
answers['17'] = '2. Action'

In [39]:
data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|')\
                                            .explode('genres')\
                                            .mode()[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [40]:
# +
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [41]:
data[(data.profit < 0)&
    (data.production_companies.str.contains('Paramount Pictures'))]\
                       .sort_values('profit', ascending=True)\
                       [['original_title','imdb_id']].head(1)

           original_title    imdb_id
925  K-19: The Widowmaker  tt0267626

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [42]:
# +
answers['19'] = '5. 2015'

In [43]:
display(data.groupby('release_year')['revenue']\
                                    .sum()\
                                    .sort_values(ascending=False)\
                                    .head(1))

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [44]:
# +
answers['20'] = '1. 2014'

In [45]:
data = data[data.production_companies.str.contains('Warner Bros')]
display(data.groupby('release_year')
        ['profit'].sum()\
                  .sort_values(ascending=False)\
                  .head(1))

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [46]:
# +
answers['21'] = '4. Сентябрь'

In [47]:
# We divide the date into month, day, and year. Also without isin
df = data['release_date'].str.split('/',expand=True)
df.columns=['month','day','year']
new_df = pd.concat([data,df],axis=1)
new_df.month.value_counts().head(1)

12    24
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [48]:
# +
answers['22'] = '2. 450'

In [49]:
# We divide the date into month, day, and year. Again without Again
df = data['release_date'].str.split('/',expand=True)
df.columns=['month','day','year']
new_df = pd.concat([data,df],axis=1)
new_df.month = new_df.month.astype(int)
new_df[(new_df.month > 5) & (new_df.month < 9)].count()[0]

45

# 23. Для какого режиссера зима – самое продуктивное время года?

In [50]:
# +
answers['23'] = '5. Peter Jackson'

In [51]:
# Теперь пробуем через datetime и isin
data.release_date = pd.to_datetime(data['release_date'])
data[data.release_date.dt.month.isin([1,2,12])]\
    ['director'].str.split('|').mode()[0]

['Clint Eastwood']

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [52]:
# +
answers['24'] = '5. Four By Two Productions'

In [53]:
data['len_title'] = data.apply(lambda row: len(row.original_title), axis=1)
df_new = data.set_index('len_title')['production_companies']\
                       .str.split('|', expand=True)\
                       .stack()\
                       .reset_index(name='production_companies')\
                       .drop('level_1',1)
df_new.groupby(['production_companies'])\
                ['len_title'].mean().sort_values(ascending=False).head(1)

production_companies
Alberta Film Entertainment    58.0
Name: len_title, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [54]:
# +
answers['25'] = '3. Midnight Picture Show'

In [55]:
data['len_words'] = data.overview.apply(lambda x: len(str(x).split(' ')))
df_new = data.set_index('len_words')['production_companies']\
                       .str.split('|', expand=True)\
                       .stack()\
                       .reset_index(name='production_companies')\
                       .drop('level_1',1)
df_new.groupby(['production_companies'])\
                ['len_words'].mean().sort_values(ascending=False).head(1)

production_companies
Heineken Branded Entertainment    161.0
Name: len_words, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [56]:
# +
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [57]:
perfect = np.quantile(data.vote_average, 0.99)
data[data.vote_average >= perfect].sort_values(by='vote_average', ascending=False)['original_title']

599    The Dark Knight
118       Interstellar
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [58]:
# +
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [59]:
data.cast = data.cast.str.split('|')
data['pare'] = data.cast.apply(lambda x: list(combinations(x, 2)))
frequent_couples = chain(*data.pare.tolist())
Counter(frequent_couples).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [60]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [61]:
# и убедиться что ни чего не пропустил)
len(answers)

27